/Users/benthosyy/Desktop/tif/PGH_Sentinel2_Image_BAND3.tif filter=lfs diff=lfs merge=lfs -text
/Users/benthosyy/Desktop/tif/PGH_Sentinel2_Image_BAND8.tif filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
